$base-font : $lato;
$h-font : $bodoni;

img{
    max-width: 100%;
}

body{
    font-family: $base-font;
    font-weight: $font-weight-normal;
    color : $gray-900;
   
}

h1, h2, h3, h4, h5, h6{
    font-family: $h-font;
    
}

h2{
    font-size: 3rem;
    line-height: 4.5rem;
}