$border-bg : #ECD9D9;

.trends-section{
    padding: 30px 0;
    .trends-header{
        margin-bottom: 30px;
        .trends-title{
            letter-spacing: 3px;
            &:after{
                margin-top: 15px;
                display: block;
                content: '';
                width: 74px;
                height: 2px;
                background-color: $border-bg;
                position: relative;
            }
        }
    }
    .trends-item{
        margin-bottom: 100px;
        figure{
            overflow: hidden;
            img{ 
                transition: 0.4s linear;
                &:hover{
                    
                    transform: scale(1.1);                        
                }
            }
        }
        .trends-info{           
            position: absolute;
            bottom: -80px;
            right: 25px;
            left: 25px;

            .trends-publish-date{
                letter-spacing: 1px;
                padding: 22px 0 17px;
                font-size: 1.4rem;
                line-height: 1.7rem;
                margin-bottom: 0;
                font-family: $bodoni;
                font-style: italic;
            }
            .trends-description{
                line-height: 2.4rem;
                height: 4.8rem;
                overflow: hidden;
                padding: 0 15px;
                margin-bottom: 0;
                margin-bottom: 50px;
                text-transform: uppercase;
                font-weight: $font-weight-medium;
            }
        }
    }
}

@media(min-width:578px){
    .trends-section{
        .trends-item{            
            .trends-info{
                bottom: -100px;
            }
        }
    }
}

@media(min-width:768px){
    .trends-section{
        padding: 50px 0;
        .trends-item{
            margin-bottom: 0;
            .trends-info{
                bottom: -100px;
            }
        }
    }
}

@media(min-width:992px){
    .trends-section{
        padding: 75px 0 106px;
        .trends-header{
            margin-bottom: 43px;
        }
        .trends-item{
            .trends-info{
                bottom: -80px;
            }
        }
    }
}
@media(min-width:1200px){
    .trends-section{
        .trends-item{
            .trends-info{
                bottom: -75px;
            }
        }
    }
}